.form-container {
  width: 50%;
  padding: 1.5rem;

  @media screen and (max-width: 1200px) {
    width: 70%;
  }
  @media screen and (max-width: 900px) {
    width: 100%;
  }
  @media screen and (max-width: 500px) {
    font-size: 14px;
    padding: 0;
  }

  .form {
    height: 22rem;
    width: 32rem;
    margin: 0 auto;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }

    &-fieldset {
      background-color: #d4d4d48a;
      display: inline-block;
      padding: 0.7rem;
      position: relative;
      height: 100%;
      width: 100%;
    }

    &-legend {
      font-size: 1.3rem;
      font-weight: 600;
      color: #044a4f;
    }
    #buttons {
      width: calc(100% - 1.9rem);
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 1rem;
    }
    button {
      padding: 0.3rem 0.5rem;
      border-radius: 5px;
      background-color: #0c8f99;
      color: #ffffff;
      &:active {
        outline: none;
      }
      &:disabled,
      &[disabled] {
        background-color: #d4d4d48a;
      }
      @media screen and (max-width: 500px) {
        font-size: 1.1em;
        padding: 0.2rem 0.35rem;
      }
    }
  }
  .form-text {
    height: 7.5rem;
    width: 28.5rem;
    margin: 0 auto;
    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }
  #error {
    color: #dd0821;
    font-weight: 600;
    @media screen and (max-width: 900px) {
      padding: 0.3rem;
    }
  }
}
