.form-container {
  width: 50%;
}

form {
  height: 20rem;
  width: 35rem;
}
.field-set {
  background-color: #d4d4d48a;
  display: inline-block;
  position: relative;
  margin: 1rem;
  height: 20rem;
}
button {
  position: absolute;
  bottom: 1rem;
}
.form-text {
  margin-top: 3rem;
}
