.fieldset {
  &Line {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;

    &_label {
      margin-right: 0.5rem;
    }
    &_inputWrap {
      display: flex;
      justify-content: baseline;
    }

    &_input {
      margin-left: 0.4rem;
      padding: 0.2 0.5rem;
      background-color: rgb(232, 240, 254);
      border-color: rgba(175, 174, 174, 0.897);
      outline: none;
      &:focus,
      &:active {
        outline: none;
      }

      @media screen and (max-width: 500px) {
        width: 5rem;
      }
    }
  }
}
